{% extends 'index.html' %}

{% block js %}<script type="text/javascript" src="{{ url_for('static', filename='js/search_users.js') }}"></script>{% endblock %}
{% block title %}Digidata - Data : recherche{% endblock %}
{% block content %}
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Recherche dans la base de données Digidata</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12">
					<h4 class="title-job text-center mb-4">Recherche dans les utilisateurs</h4>
					<form class="booking-form">
	        		<div class="row">
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-search"></span></div>
			                <input type="text" name="id" class="form-control" placeholder="ID">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-search"></span></div>
			                <input type="text" name="search" class="form-control" placeholder=" Recherche ou regex">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	        					<div class="form-field">
	          					<div class="select-wrap">
	                      <div class="icon"><span></span></div>
						  <select name="field" id="" class="form-control">
							<option value="all">All</option>
							<option value="one">One</option>
	                        <option value="nom">Nom</option>
	                        <option value="prenom">prénom</option>
	                        <option value="fonction">fonction</option>
	                        <option value="anciennete">ancienneté </option>
	                        <option value="mise_a_jour">mise à jour</option>
							<option value="conge">Congés</option>
	                        <option value="actif">actif</option>
	                        <option value="actionnaire">actionnaire </option>
	                        <option value="missions">missions </option>
	                      </select>
	                    </div>
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md d-flex align-items-end mb-md-0 mb-1">
	        				<div id="valider" name="get" class="form-group">
			              <button class="btn btn-secondary px-4 align-self-stretch d-block" type="submit"><span>Rechercher</span></button>
			            </div>
	        			</div>
	        		</div>
	        	</form>
				<div id="get_result"></div>
				</div>
				</div>
			</div>

			<div><p> <hr class="my-4"> <p></div>

			<div class="row justify-content-center">
				<div class="col-md-12">
					<h4 class="title-job text-center mb-4">Ajout d'un utilisateur</h4>
					<form class="booking-form">
	        		<div class="row">
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-user"></span></div>
			                <input type="text" name="nom" class="form-control" placeholder="Nom">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-user"></span></div>
			                <input type="text" name="prenom" class="form-control" placeholder="Prénom">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-user"></span></div>
			                <input type="text" name="fonction" class="form-control" placeholder="Fonction">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-user"></span></div>
			                <input type="number" name="anciennete" class="form-control" placeholder="Ancienneté">
			              </div>
		              </div>
	        			</div>
	        		</div>
									
	        		<div class="row">
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-user"></span></div>
			                <input type="number" name="conge" class="form-control" placeholder="Congés">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-user"></span></div>
			                <input type="text" name ="actif" class="form-control" placeholder="Actif">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-user"></span></div>
			                <input type="text" name ="actionnaire" class="form-control" placeholder="Actionnaire">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-user"></span></div>
			                <input type="text" name ="missions" class="form-control" placeholder="Missions">
			              </div>
		              </div>
	        			</div>
	        		</div>
				</div>
				<div class="col-md-12">			
					
	        		<div class="row">
						<div class="col-md d-flex align-items-end mb-md-0 mb-1">
	        				<div id="valider" name="put" class="form-group">
			              <button class="btn btn-secondary px-4 align-self-stretch d-block" type="submit"><span>Ajouter</span></button>
			            </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        			
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        			
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        			
	        			</div>
	        		</div>
	        	</form>
				<div id="put_result"></div>
				</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
