{% extends 'index.html' %}
{% block js %}<script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>{% endblock %}
{% block title %}Digidata - Data : recherche{% endblock %}
{% block content %}
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Recherche dans la base de données Digidata</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12">
					<h4 class="title-job text-center mb-4">Recherche dans les lieux</h4>
					<form class="booking-form">
	        		<div class="row">
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-search"></span></div>
			                <input type="text" name="id" class="form-control" placeholder="ID">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-search"></span></div>
			                <input type="text" name="search" class="form-control" placeholder=" Recherche ou regex">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	        					<div class="form-field">
	          					<div class="select-wrap">
	                      <div class="icon"><span></span></div>
						  <select name="field" id="" class="form-control">
							<option value="all">All</option>
	                        <option value="geonameid">geonameid</option>
	                        <option value="name">name</option>
	                        <option value="alternate_names">alternatenames</option>
	                        <option value="latitude">latitude</option>
	                        <option value="longitude">longitude</option>
							<option value="feature_class">feature class </option>
	                        <option value="country_code">country code</option>
	                        <option value="cc2">cc2</option>
	                        <option value="admin1">admin1 code </option>
							<option value="admin2">admin2 code</option>
	                        <option value="admin3">admin3 code</option>
	                        <option value="admin4">admin4 code</option>
	                        <option value="population">population</option>
	                        <option value="elevation">elevation</option>
							<option value="dem">dem</option>
	                        <option value="timezone">timezone</option>
	                      </select>
	                    </div>
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md d-flex align-items-end mb-md-0 mb-1">
	        				<div name="get" id="valider" class="form-group">
			              <button class="btn btn-secondary px-4 align-self-stretch d-block" type="submit"><span>Rechercher</span></button>
			            </div>
	        			</div>
	        		</div>
	        	</form>
				<div id="get_result">
				</div>
				</div>
			</div>

			<div><p> <hr class="my-4"> <p></div>

			<div class="row justify-content-center">
				<div class="col-md-12">
					<h4 class="title-job text-center mb-4">Ajout d'un lieu</h4>
					<form class="booking-form">
	        		<div class="row">
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-server"></span></div>
			                <input type="text" name="geonameid" class="form-control" placeholder="geonameid">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-server"></span></div>
			                <input type="text" name ="name" class="form-control" placeholder="name">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-server"></span></div>
			                <input type="text" name ="alternate_names" class="form-control" placeholder="alternatenames">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-server"></span></div>
			                <input type="text" name ="latitude" class="form-control" placeholder="latitude">
			              </div>
		              </div>
	        			</div>
	        		</div>
									
	        		<div class="row">
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-server"></span></div>
			                <input type="text" name="longitude" class="form-control" placeholder="longitude">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-server"></span></div>
			                <input type="text" name ="feature_class" class="form-control" placeholder="feature class">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-server"></span></div>
			                <input type="text" name ="country_code" class="form-control" placeholder="country code">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-server"></span></div>
			                <input type="text" name ="cc2" class="form-control" placeholder="cc2">
			              </div>
		              </div>
	        			</div>
	        		</div>

					<div class="row">
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-server"></span></div>
			                <input type="text" name="admin1" class="form-control" placeholder="admin1 code">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-server"></span></div>
			                <input type="text" name ="admin2" class="form-control" placeholder="admin2 code">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-server"></span></div>
			                <input type="text" name ="admin3" class="form-control" placeholder="admin3 code">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-server"></span></div>
			                <input type="text" name ="admin4" class="form-control" placeholder="admin4 code">
			              </div>
		              </div>
	        			</div>
	        		</div>

					<div class="row">
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-server"></span></div>
			                <input type="text" name="population" class="form-control" placeholder="population">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-server"></span></div>
			                <input type="text" name ="elevation" class="form-control" placeholder="elevation">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-server"></span></div>
			                <input type="text" name ="dem" class="form-control" placeholder="dem">
			              </div>
		              </div>
	        			</div>

						
	        			<div class="col-md mb-md-0 mb-1">
	        				<div class="form-group">
	          				<div class="form-field">
	          					<div class="icon"><span class="fa fa-server"></span></div>
			                <input type="text" name ="timezone" class="form-control" placeholder="timezone">
			              </div>
		              </div>
	        			</div>
	        		</div>
				</div>
				
				<div class="col-md-12">			
					
	        		<div class="row">
						<div class="col-md d-flex align-items-end mb-md-0 mb-1">
	        				<div name="put" id="valider" class="form-group">
			              <button class="btn btn-secondary px-4 align-self-stretch d-block" type="submit"><span>Ajouter</span></button>
			            </div>
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        			
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        			
	        			</div>
	        			<div class="col-md mb-md-0 mb-1">
	        			
	        			</div>
	        		</div>
	        	</form>
				<div id="put_result">
				</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
