<!doctype html>
<html lang="en">
  <head>
  	<title>{% block title%}Digidata - Connexion{% endblock%}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/digidata.css') }}">
	
	</head>
	<body style ="background-color: #ebe9e9;">
		<nav class="navbar navbar-expand-lg" style ="background-color: #272a2d;">
			<a class="navbar-brand" style="color: #dadbcd" href="{{ url_for('index') }}">Digidata</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
		  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
			
				<li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" style="color: #dddfdb" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Tables
				  </a>
				  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item"  href="{{ url_for('search_data') }}">Data</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item"  href="{{ url_for('search_users') }}">Users</a>
				  </div>
				</li>
			  </ul>
			  <form class="form-inline">
                <a name="logout" onclick="logout(event)" class="btn btn-outline-light" href="{{ url_for('index') }}" type="button">Déconnexion</a>
              </form>
			</div>
		  </nav>
	{% block content %}
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Gestion de base de données</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="login-wrap p-4 p-md-5" style ="background-color: #fffafa;">
		      	<div class="icon d-flex align-items-center justify-content-center text-white" style = "width: 80px;
				  height: 80px;
				  background-color: #5A6268;
				  border-radius: 50%;
				  font-size: 30px;
				  margin: 0 auto;
				  margin-bottom: 10px">
		      		<span class="fa fa-user-o"></span>
		      	</div>
		      	<h3 class="text-center mb-4">Connexion</h3>
						<form action="post" class="login-form">
		      		<div class="form-group">
		      			<input type="text" class="form-control rounded-left" placeholder="Identifiant" name ="username" required >
		      		</div>
	            <div class="form-group d-flex">
	              <input type="password" class="form-control rounded-left" placeholder="Mot de passe" name ="password" required>
	            </div>
	            <div name="connect" class="form-group">
	            	<button type="submit" class="form-control btn btn-secondary rounded submit px-3">Connexion</button>
	            </div>
	            
	          </form>
			  			<div id="get_connect">
			</div>
	        </div>

				</div>
			</div>
		</div>
	</section>
	{% endblock %}
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	{% block js %}<script type="text/javascript" src="{{ url_for('static', filename='js/auth_jwt.js') }}"></script>{% endblock %}

	</body>
</html>

